---
import { Image, Picture } from '@astrojs/image/components';
import BgLightColorHero from './BgLightColorHero';
import IconoAnimado from './IconoAnimado';
import ContactanosButton from './ContactanosButton';
import VerAreasButton from './VerAreasButton';
import MapaCordobaDesktop from '../assets/MapaCordobaDesktop.astro';
import MapaCordobaMobile from '../assets/MapaCordobaMobile.astro';
---

<div class="">
  
</div>