<style>
  #VerAreasButton {
    @apply animate-[animation_.25s_.375s_forwards]
  }

  @keyframes animation {
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
</style>

<a id='VerAreasButton'
  href="#AreasDeCobertura"
  class="text-sm font-semibold leading-6 text-white hover:underline translate-x-[-100px] opacity-0"
>
  Ver áreas de cobertura 
  <span aria-hidden="true"> →</span>
</a>