---
import AreasDeCoberturaButton from "../AreasDeCoberturaButton";
import Footer from "../Footer.astro";
import BgLightColor2 from "./bgLightColorContent";
import LineaEnContenido from "./LineaEnContenido";
import LogoAnimado from "./LogoAnimado";
import MedioDeContactoAnimado from "./MedioContactoAnimado";
import TituloAnimado from "./TituloAnimado";
import { Image, Picture } from "@astrojs/image/components";
---

<!-- QUÉ ES NITEL Y ÁREAS DE COBERTURA -->
<div class="relative isolate lg:bg-gray-900 overflow-hidden">
  <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
    <div class="h-[100lvh] lg:h-max relative px-6 pt-16 pb-12 sm:pt-32 lg:static lg:py-16 lg:px-8">
      <div class="mx-auto max-w-lg lg:mx-0">
        <div class="absolute inset-y-0 left-0 -z-10 w-full overflow-hidden ring-1 ring-white/5 lg:w-1/2">

          <svg class="absolute inset-0 h-full w-full stroke-gray-600 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
            <defs>
              <pattern id="54f88622-e7f8-4f1d-aaf9-c2f5e46dd1f2" width="200" height="200" x="100%" y="-1" patternUnits="userSpaceOnUse">
                <path d="M130 200V.5M.5 .5H200" fill="none"></path>
              </pattern>
            </defs>
            <svg x="100%" y="-1" class="overflow-visible fill-gray-800/20">
              <path d="M-470.5 0h201v201h-201Z" stroke-width="0"></path>
            </svg>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#54f88622-e7f8-4f1d-aaf9-c2f5e46dd1f2)"></rect>
          </svg>

          <BgLightColor2 client:load />
        </div>

        <LogoAnimado client:load>
          <div class="flex justify-center w-full">
            <Image src={import("../assets/logo-nitel.png")} loading={"eager"} quality={100} class="w-2/3 lg:w-1/3" format="webp" alt="" />
          </div>
        </LogoAnimado>

        <h2 class="text-2xl font-bold tracking-tight text-white sm:text-4xl mt-6 lg:mt-8">
          Contáctate y nosotros te asesoramos para que tengas el plan que necesitas
        </h2>

        <div class="mt-8 lg:mt-12 flex items-center justify-center gap-x-6 lg:justify-start">
          <a
            href="https://wa.me/+543516472777/?text=Hola, quiero realizar una consulta"
            class="w-full text-center gradient rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white lg:text-lg">
            Contratar ahora
          </a>
        </div>

        <AreasDeCoberturaButton client:load />
      </div>
      <div class="absolute bottom-0 left-0 lg:hidden w-full">
        <Footer />
      </div>
    </div>


    <!-- ÁREAS DE COBERTURA -->
    <div 
      class="px-6 pb-16 pt-12 sm:pb-32 lg:py-16 lg:px-8 bg-gray-900 hidden lg:inline-block" 
      id="AreasDeCobertura"
    >
      <div>
        <div class="mx-auto max-w-7xl lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0">
            <TituloAnimado delay={0.3} client:load>
              <h2 class="text-3xl font-bold tracking-tight text-white">Áreas de cobertura</h2>
            </TituloAnimado>
          </div>
          <div class="mx-auto mt-8 sm:mt-16 grid max-w-2xl grid-cols-2 gap-8 text-base leading-7 sm:gap-y-16 lg:mx-0 lg:max-w-none">
            <div>
              <h3 class="pl-6 font-semibold text-white relative">
                Zona Sur
                <span class="inline-block absolute top-0 left-0 h-full w-[1px] gradient"></span>
              </h3>
              <address class="pt-2 pl-6 not-italic text-gray-500 relative">
                <LineaEnContenido client:load duration={1} />

                <p>Los Cedros</p>
                <p>Villa Rivadavia</p>
                <p>Ruta N°5</p>
                <p>Ferreyra</p>
                <p>Manantiales</p>
                <p>Ruta N°19</p>
                <p>Distrito Sur</p>
              </address>
            </div>
            <div>
              <h3 class="pl-6 font-semibold text-white relative">
                Zona Norte
                <span class="inline-block absolute top-0 left-0 h-full w-[1px] gradient"></span>
              </h3>
              <address class="pt-2 pl-6 not-italic text-gray-500 relative">
                <LineaEnContenido client:load duration={2} />

                <p>Salsipuedes</p>
                <p>Rio Ceballos</p>
                <p>Villa Silvina</p>
                <p>Unquillo</p>
                <p>Mendiolaza</p>
                <p>Villa Allende</p>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
