---
import WhatsappButtonFixed from "../components/WhatsappButtonFixed.astro";
import Content from "../components/content/Content.astro";
import Hero from "../components/hero/Hero.astro";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <script defer data-domain="nitel-2.vercel.app" src="https://plausible.bmariano.me/js/script.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#111827" />

    <title>Nitel te conecta</title>
    <meta
      name="description"
      content="Conectá todos tus dispositivos y disfrutá tus actividades con el plan de internet que más te convenga. Mirá contenido, hacé videollamadas, jugá online, ¡sin límites!"
    />

    <link rel="icon" type="image/png" href="/favicon-nitel.png" />
    <link rel="shortcut icon" type="image/png" href="/favicon-nitel.png" />
    <link rel="apple-touch-icon" sizes="32x32" href="/favicon-nitel.png" />

    <!-- FACEBOOK / WHATSAPP -->
    <meta property="og:url" content="https://nitel.com.ar" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nitel, internet para tu hogar" />
    <meta
      property="og:description"
      content="Conectá todos tus dispositivos y disfrutá tus actividades con el plan de internet que más te convenga. Mirá contenido, hacé videollamadas, jugá online, ¡sin límites!"
    />
    <meta property="og:image" content="/social-media-card.png" />
    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="/social-media-card.png" />
    <meta property="twitter:domain" content="nitel.com.ar" />
    <meta property="twitter:url" content="https://nitel.com.ar" />
    <meta name="twitter:title" content="Nitel, internet para tu hogar" />
    <meta
      name="twitter:description"
      content="Conectá todos tus dispositivos y disfrutá tus actividades con el plan de internet que más te convenga. Mirá contenido, hacé videollamadas, jugá online, ¡sin límites!"
    />

    <style is:global>
      .filter {
        filter: drop-shadow(0px 0px 10px #01dcfd);
      }

      .gradient {
        background: linear-gradient(to top left, #35068c 0%, #4208a3 14.28%, #770eff 28.57%, #5d3cff 42.85%, #3580fd 57.13%, #2897fd 71.41%, #01dcfd 86.21%);
      }

      .text-gradient {
        background-image: linear-gradient(to top left, #35068c 0%, #4208a3 14%, #770eff 28%, #5d3cff 42%, #3580fd 58%, #2897fd 74%, #01dcfd 100%);
        background-clip: text;
        color: transparent;
      }

      /* ANIMACIONES DE LOS MAPAS */
      #cba-shadow-mobile,
      #lineas-adelante-mobile,
      #cba-shadow-desktop,
      #lineas-adelante-desktop {
        @apply animate-maps;
      }

      #VerAreasButton {
        @apply animate-[animationVerAreasButton_.25s_.375s_forwards];
      }

      @keyframes animationVerAreasButton {
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @keyframes animation {
        0% {
          opacity: 0;
          transform: translateX(-30px);
        }

        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
  </head>

  <body class="bg-gray-900 relative">
    
    <!-- GRID QUE CUBRE TODO EL SITIO -->
    <svg class="absolute inset-0 -z-10 h-full w-full stroke-white/25 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="983e3e4c-de6d-4c3f-8d64-b9761d1534cc" width="150" height="150" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none"></path>
        </pattern>
      </defs>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#983e3e4c-de6d-4c3f-8d64-b9761d1534cc)"></rect>
    </svg>

    <div class="overflow-hidden relative">
      
      <!-- COLOR CLARO DE FONDO -->
      <div
        class=" absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]"
        aria-hidden="true">
        <div
          class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20"
          style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)">
        </div>
      </div>
  
      <WhatsappButtonFixed />
      <Hero />
      <Content />
    </div>
    
  </body>
</html>
