<div>
  <div class="mx-auto max-w-7xl py-16 px-6 sm:py-24 lg:px-8">
    <h2 class="text-2xl font-bold leading-10 tracking-tight text-white">Preguntas frecuentes</h2>
    <p class="mt-6 max-w-2xl text-base leading-7 text-gray-300">Si tenés otra pregunta <a href="#" class="font-semibold text-indigo-400 hover:text-indigo-300">contactanos aquí</a>, te responderemos lo antes posible.</p>
    <div class="mt-16">
      <dl class="space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:grid-cols-3 lg:gap-x-10">
        <div>
          <dt class="text-base font-semibold leading-7 text-white">What&#039;s the best thing about Switzerland?</dt>
          <dd class="mt-2 text-base leading-7 text-gray-300">I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-white">What&#039;s the best thing about Switzerland?</dt>
          <dd class="mt-2 text-base leading-7 text-gray-300">I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        </div>
        <div>
          <dt class="text-base font-semibold leading-7 text-white">What&#039;s the best thing about Switzerland?</dt>
          <dd class="mt-2 text-base leading-7 text-gray-300">I don&#039;t know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
