<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="theme-color" content="#111827" />

  <title>Nitel: internet para tu hogar</title>
  <meta name="description" content="Conectá todos tus dispositivos y disfrutá tus actividades con el plan de internet que más te convenga. Mirá contenido, hacé videollamadas, jugá online, ¡sin límites!" />
  
  <link rel="icon" type="image/png" href="/favicon-nitel.png" />
  <link rel="shortcut icon" type="image/png" href="/favicon-nitel.png" />
  <link rel="apple-touch-icon" sizes="32x32" href="/favicon-nitel.png" />
  
  <!-- FACEBOOK / WHATSAPP -->
  <meta property="og:url" content="https://nitel.com.ar" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Nitel, internet para tu hogar" />
  <meta property="og:description" content="Conectá todos tus dispositivos y disfrutá tus actividades con el plan de internet que más te convenga. Mirá contenido, hacé videollamadas, jugá online, ¡sin límites!" />
  <meta property="og:image" content="/social-media-card.png" />
  <!-- TWITTER -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="/social-media-card.png" />    
  <meta property="twitter:domain" content="nitel.com.ar" />
  <meta property="twitter:url" content="https://nitel.com.ar" />
  <meta name="twitter:title" content="Nitel, internet para tu hogar" />
  <meta name="twitter:description" content="Conectá todos tus dispositivos y disfrutá tus actividades con el plan de internet que más te convenga. Mirá contenido, hacé videollamadas, jugá online, ¡sin límites!" />

  <style is:global>

    .filter {
      filter: drop-shadow(0px 0px 10px #01DCFD);
    }
    
    .gradient {
      background: linear-gradient(to top left, #35068C 0%, #4208A3 14.28%, #770EFF 28.57%, #5D3CFF 42.85%, #3580FD 57.13%, #2897FD 71.41%, #01DCFD 86.21%);
    }

    .text-gradient {
      background-image: linear-gradient(to top left, #35068C 0%, #4208A3 14%, #770EFF 28%, #5D3CFF 42%, #3580FD 58%, #2897FD 74%, #01DCFD 100%);
      background-clip: text;
      color: transparent
    }
  </style>
  
</head>